 <div class="row justify-content-center">
    <div class="inner cover">
        <h1 class="cover-heading">Database Connectivity and Advanced Controls</h1>
        <br>
        <p class="lead">
          This project was created by <strong>Daniel Guana</strong>, <strong>Shahab Ghalamdoost</strong>, <strong>Akshay Adlakha</strong> and <strong>Tarandeep Singh</strong> in 2021.
          <br> All the information regarding weather is obtained with the help of the Open Weather API.</p>
        <p class="lead">
          <a class="btn btn-lg btn-secondary" href="https://openweathermap.org/api">Click here to see the Open Weather API info</a> 
        </p>

        <div class="center ">
          <br>
          <table class="table table-striped inner cover">
            <thead>
              <tr>
                  <th colspan="3">Design Diagram</th>                    
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><a class="alink" href="https://firebasestorage.googleapis.com/v0/b/groupproject-b4db1.appspot.com/o/LayerAccess.jpg?alt=media&token=6761eb67-020d-483f-9db3-4e6fa9f0ebbd">Access Layer</a></th>   
                <th><a class="alink" href="https://firebasestorage.googleapis.com/v0/b/groupproject-b4db1.appspot.com/o/DataFlow.jpg?alt=media&token=d200e0ea-9a88-4694-89aa-6a2e1981c1bd">Data Flow</a></th>   
                <th><a class="alink" href="https://firebasestorage.googleapis.com/v0/b/groupproject-b4db1.appspot.com/o/DataRequest.jpg?alt=media&token=46f6eddf-afdd-4852-a7ac-87a796430a05">Data Request</a></th>                    
              </tr>
            </tbody>
          </table>

          <br>
          <h2>Description</h2>
          <div class="justified">
            <p class="lead">
              <span class="black">MongooseDB,</span> The WeatherExpress project, uses Cloud-hosted MongoDB service on Azure.
            </p>
            <p class="lead">
              <span class="black">App_Server,</span> The WeatherExpress project uses the benefits of layer-based design; The app_server layer is responsible to provide data from OpenWeatherMap API and do business over fetched data to provide information for upper layer that is App_API. On this layer, the logic has access to only the database layer and OpenWeatherMap API.
            </p>
            <p class="lead">
              <span class="black">App_API,</span> is responsible to get the request from the APP_Public layer or any 3rd-party app in the future, and pass the request to the downer layer that is APP_Server to provide information for upper layer. On this layer, the logic has access to only the App_Server layer.
            </p>
            <p class="lead">
              <span class="black">App_Cron,</span> is a backend service task that runs every one hour to update the database based on the searched cities and update the weather from the OpenWeatherMap. (The reason to have the Cron Schedule is to prevent getting block because of the repeating calling the OpenWeatherMap API.) On this layer, the logic has access to only the App_Server layer.
            </p>
            <p class="lead">
              <span class="black">App_Public,</span> is responsible to interact with end user to get request and show the information back to the user.
            </p>
          </div>
        </div>
    </div>
</div>