
<div class="mainweather row justify-content-center">
    <form (ngSubmit)="findWeather()" name="findweather" #itemForm="ngForm">
        <input type="text" id="name" name="name" [formControl]="myControl" placeholder="City Name" (input)="suggest()" required>        
        <select [formControl]="unitControl" name="units" id="units">
          <option value="metric" selected="selected">°C</option>
          <option value="imperial">°F</option>
        </select>
        <button type="submit" class="btn btn-primary" [disabled]="!itemForm.form.valid">Find Weather</button>                       
        <div class="filteredOptions" *ngIf="filteredOptions.length">
          <div (click)="updateInput([s])" *ngFor="let s of filteredOptions">{{s}}</div>
        </div>
    </form>    
</div>