
<div class="mainweather">
  <div class="row justify-content-center">
      <form (ngSubmit)="findWeather()" name="findweather" #itemForm="ngForm">
          <input type="text" id="name" name="name" [formControl]="myControl" placeholder="City Name" (input)="suggest()" required>    
          <div class="filteredOptions"  *ngIf="filteredOptions.length">
            <div (click)="updateInput([s])" *ngFor="let s of filteredOptions">{{s}}</div>
          </div>    
          <select [formControl]="unitControl" class="sel" name="units" id="units">
            <option value="metric" selected="selected">°C</option>
            <option value="imperial">°F</option>
          </select>
          <button type="submit" class="btn btn-primary" [disabled]="!itemForm.form.valid">Find Weather</button>                               
      </form>        
  </div>
  <div class="row justify-content-center" *ngIf="alertMessage">
    <div class="alert alert-danger" role="alert">
      {{alertMessage}}
    </div>
  </div>
</div>