<nav class="navbar navbar-expand-md navbar-light">
  <a href="main" class="navbar-brand">WeatherExpressIcon</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse right" id="navbarCollapse">
      <div class="navbar-nav">
          <a routerLink="/main" routerLinkActive="is-active" class="nav-item nav-link">Home</a>
          <a routerLink="/detail" routerLinkActive="is-active" class="nav-item nav-link">WeatherDetail</a>
          <a routerLink="/last" routerLinkActive="is-active" class="nav-item nav-link">Recent Cities</a>
          <a routerLink="/about" routerLinkActive="is-active" class="nav-item nav-link">About</a>
      </div>
      <!-- <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link">Login</a>
      </div> -->
  </div>
</nav>
<router-outlet></router-outlet>
