<div class="row justify-content-center">
    <div class="info col-4">
        <h2>Last searches</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col">Name</th>   
                    <th class="col">Country</th>   
                    <th class="col">Units</th>                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let searched of searchedWeathers?.slice().reverse()">
                    <td><button (click)="showDetail(searched)" class="btn btn-primary">{{searched.name}}</button></td> <!--href="/detail/{{searched.name}}/{{searched.country}}/{{searched.units}}"-->
                    <td>{{searched.country}}</td>    
                    <td>{{searched.units}}</td>                 
                </tr>                             
            </tbody>            
        </table>   
        
    </div>   
</div>