<app-main-weather></app-main-weather>
<div class="mainDetail">
    <div class="row justify-content-center" *ngIf="weatherResult">
        <div class="info col-4">
            <img *ngIf="weatherResult.weather_icon" class="img-fluid" src="http://openweathermap.org/img/wn/{{weatherResult?.weather_icon}}@2x.png">      
            <div class='degrees'>{{weatherResult?.main_temp | number: '1.0-0'}}<sup>°{{weatherResult?.units=='metric' ? 'C' : 'F'}}</sup></div>
            <div class='ctyname'>{{weatherResult?.name}}<sup>{{weatherResult?.country}}</sup></div>
            <p>{{weatherResult?.weather_description}}</p>
            <div class='feelslike'>Feels like {{weatherResult?.main_feels_like | number: '1.0-0'}}<sup>°{{weatherResult?.units=='metric' ? 'C' : 'F'}}</sup></div>
            <div>Min temp: {{weatherResult?.main_temp_min | number: '1.0-0'}}<sup>°{{weatherResult?.units=='metric' ? 'C' : 'F'}}</sup> Max temp: {{weatherResult?.main_temp_max | number: '1.0-0'}}<sup>°{{weatherResult?.units=='metric' ? 'C' : 'F'}}</sup></div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="!weatherResult">
        <!-- <div class="alert alert-danger" role="alert">
          City information not available
        </div> -->
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>